* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    h1 {
        text-align: center;
    }
    .main-container {
        width: 700px;
        height: 600px;
        border: 1px solid gray;
        margin: auto;
        table {
            width: 700px;
            border: 1px solid lightgray;
            border-collapse: collapse;
            }
            tbody {
                tr {
                    td {
                        border: 1px solid gray;
                        padding: 3px;
                    }                    
                    .num-figure {
                        text-align: right;
                    }
                }
                tr:nth-child(even){
                    background-color: lightsteelblue;
                }
            }
    }
}